body {
  background-color: #ddd;
  font-family: Arial;
  margin: 20px 40px;
}
h1 {
  text-align: center;
}
.item {
  background-color: #87aece;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 0;
  border-radius: 5px;
}
h2 {
  margin: 0;
  color: aliceblue;
}
.comprar {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #4682b4;
  color: #fff;
  font-family: bold;
  width: 500;
  border-radius: 5px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
